<!DOCTYPE html>
<html ng-app="app3" ng-cloak>
    <head >
        <title>
            Third Part
        </title>
        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none;
            }
        </style>
    </head>

    <body>
        <div ng-controller="gListCtrl">
            <h3 class="ListTitle"> {{groceries.length}} Groceries to get
            </h3>

            <!-- <h3 class="ListTitle">
                <span ng-bind="groceries.length"> </span> Groceries to get
            </h3> -->

            <ol style='margin 0 0 -15px 0;'>
                <li>{{groceries[0].item}}</li>
            </ol>

            <!-- Skip 0th -->
            <ol start='2' style='margin 0 0 -15px 0;'> 
                <li ng-repeat='grocery in groceries' ng-if="$index > 0 " >
                    {{grocery.item}} {{$index}} {{$first}}
                </li>
                <!-- $first $last $middle $even $odd -->
                
            </ol>

            <table>
                <tr ng-repeat-start="grocery in groceries">
                    <td>
                        {{grocery.item}}
                    </td>
                <tr ng-repeat-end>
                <td >
                    {{grocery.purchased}}
                </td>
            </tr >

                
            </table>

            <label>CHange 1st Item:</label>
            <input ng-model="groceries[0].item"/>


            <h3>
                Grocery List 
            </h3>
            <div ng-include="'groceryListOL.html'"></div>

            <label>
                <input type="checkbox" ng-model="showList">
                 Show Unordered List ?
            </label>

            <ng-include src="getList()"></ng-include>
            
            <label> Type a number
                <input ng-model="someNumber">
            </label>

            <div ng-switch="someNumber">
                <p ng-switch-when="1"> You entered 1</p>
                <p ng-switch-when="2"> You entered 2</p>
                <p ng-switch-when="3"> You entered 3</p>
                <p ng-switch-when="4"> You entered 4</p>
                <p ng-switch-when="5"> You entered 5</p>
                <p ng-switch-default="1"> Not following instructions</p>
            </div>





        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="js/exam3.js"></script>
    </body>
</html>